<div id="buttons" class="row" style="text-align:center;">
  <ul class="small-block-grid-3">
    <li><%= link_to image_tag("money_small.png"), obras_municipio_path %><br/>Montos Totales</li>
    <li><%= link_to image_tag("proveedor_small.png"), proveedores_municipio_path %><br/>Proveedores</li>
    <li><%= link_to image_tag("licita_small.png"), licitaciones_municipio_path %><br/>Licitaciones</li>
  </ul>
</div>
