
 <p id="notice"><%= notice %></p>
 <h1 style="text-align:center"><%= @municipio.name %></h1>
 <%= render 'buttonBar' %>
 <h2 style="text-align:center">Proveedores</h2>
 <%if @municipio.id == 9 %> 
 <div class="row">
 	<div class="large-6 columns" id="prov_chart" style="width: 500px; height: 400 px;"></div>
 	<div class="large-6 columns" id="prov_monto" style="width: 500px; height: 400 px;"></div>
</div>
<%end%>
 