<nav = "resToggle>
  <div class="inner">
    <ul>
      <li><a href="">¿Quiénes Somos?</a></li>
      <li><a href="">Metodología</a></li>
    </ul>
  </div>
</nav>
<header>

  <div class="inner">
    <div id="logo"><%= link_to "<img class='logo' src='/assets/logo.png' />".html_safe, root_path%></div>
    <div class="open-nav">
    <i></i>
    </div>
  </div>
</header>